
menuconfig DOWNLOAD_MODULE
    bool "Enable download module"
    help
        Enables download module.
    
if DOWNLOAD_MODULE
    config DOWNLOAD_THREAD_STACK_SIZE
    int "Cloud module thread stack size"
    default 2560

    config DOWNLOAD_STREAM_FLASH_DEBUG
    bool "Enable stream flash debugging"
    default false

    config DOWNLOAD_DOWNLOAD_SOCKET_RETRIES
        int "Number of retries for socket-related download issues"
        default 2

    config DOWNLOAD_DOWNLOAD_PROGRESS_EVT
        bool "Emit progress event upon receiving a download fragment"

    module = DOWNLOAD_MODULE
    module-str = Download module
    source "subsys/logging/Kconfig.template.log_config"
endif #DOWNLOAD_MODULE

