
menuconfig PASSWORD_MODULE
    bool "Enable password module"
    default y
    help
        Enables password module.
    
if PASSWORD_MODULE
    config PASSWORD_THREAD_STACK_SIZE
    int "Password module thread stack size"
    default 2560

    config PASSWORD_ENTRY_NAME_MAX_LEN
    int "Maximum platform name length"
    default 20
    
    config PASSWORD_ENTRY_MAX_NUM
    int "Maximum number of entries (platforms) to support"
    default 10

    config PASSWORD_FILE_MAX_SIZE_BYTES
    int "Maximum number of bytes for the password file"
    default 2048


    module = PASSWORD_MODULE
    module-str = Password module
    source "subsys/logging/Kconfig.template.log_config"
endif #PASSWORD_MODULE

