
menuconfig PASSWORD_MODULE
    bool "Enable password module"
    default y
    help
        Enables password module.
    
if PASSWORD_MODULE
    config PASSWORD_THREAD_STACK_SIZE
    int "Cloud module thread stack size"
    default 2560


    module = PASSWORD_MODULE
    module-str = Password module
    source "subsys/logging/Kconfig.template.log_config"
endif #PASSWORD_MODULE

