
menuconfig PASSWORD_MODULE
    bool "Enable password module"
    help
        Enables password module.
    
if PASSWORD_MODULE
    config PASSWORD_THREAD_STACK_SIZE
    int "Cloud module thread stack size"
    default 2560

    config PASSWORD_STREAM_FLASH_DEBUG
    bool "Enable stream flash debugging"
    default false

    config PASSWORD_DOWNLOAD_SOCKET_RETRIES
        int "Number of retries for socket-related download issues"
        default 2

    config PASSWORD_DOWNLOAD_PROGRESS_EVT
        bool "Emit progress event upon receiving a download fragment"

    module = PASSWORD_MODULE
    module-str = Password module
    source "subsys/logging/Kconfig.template.log_config"
endif #PASSWORD_MODULE

