#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig DISPLAY_MODULE
    bool "Display module"
    default y

if DISPLAY_MODULE

config DISPLAY_DEV_NAME
    string "Display device name"
    default "ST7789V"

config DISPLAY_THREAD_STACK_SIZE
	int "Display module thread stack size"
	default 2560

config SPI
    default y

if LVGL

config LVGL_DISPLAY_DEV_NAME
	default "ST7789V"

config LVGL_HOR_RES_MAX
	default 240

config LVGL_VER_RES_MAX
	default 240

config LVGL_BITS_PER_PIXEL
	default 16

choice LVGL_COLOR_DEPTH
	default LVGL_COLOR_DEPTH_16
endchoice

config LVGL_COLOR_16_SWAP
	default y

config LVGL_USE_LABEL
	default y

config LVGL_USE_IMG
	default y

config LVGL_USE_BTN
	default y



config LVGL_USE_ASSERT_OBJ
	default y

config LVGL_USE_ASSERT_STYLE
	default y

config LVGL_USE_ANIMATION
	default y

config LVGL_USE_OPA_SCALE
	default y

config LVGL_ANTIALIAS
	default y

endif # LVGL

endif #DISPLAY_MODULE

module = DISPLAY_MODULE
module-str = Display module
source "subsys/logging/Kconfig.template.log_config"
