# Common configurations for the nRF9160 and nRF52840
menu "Common"
config SKYKEY_FW_VERSION
    string "Firmware version"
    default "0.0.0"

config SKYKEY_BOARD_VERSION
    string "Board version"
    default "0.0.0"

endmenu